voice_tts_sbv2/model_assets/yasuda/yasuda_e100_s3462.safetensors
/voice_tts_sbv2/__pycache__
__pycache__/tts_main.cpython-311.pyc
model_assets/yasuda/yasuda_e100_s3462.safetensors
/faq_ai/__pycache__
/voice_stt/__pycache__
data/00617.mp4
/build
/output_voice/__pycache__
/ja_core_news_md
/dist
tempCodeRunnerFile.py
test.py
